# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-text-editor:not(.mini)':
  'enter': 'blackspace:newline'

'.platform-darwin atom-text-editor:not(.mini)':
  'shift-enter': 'blackspace:newline'
  'cmd-enter': 'blackspace:newline'
  'alt-enter': 'blackspace:newline'
  'shift-cmd-enter': 'blackspace:newline-above'

'.platform-win32 atom-text-editor:not(.mini), .platform-linux atom-text-editor:not(.mini)':
  'shift-enter': 'blackspace:newline'
  'ctrl-enter': 'blackspace:newline'
  'alt-enter': 'blackspace:newline'
  'ctrl-shift-enter': 'blackspace:newline-above'
